@model IEnumerable<TypeCar>

@{
    ViewBag.Title = "Index";
}

@section LeftPanel{
    <div class="panel-heading">Types</div>
    <div class="panel-body ">
        @if (Security.IsAuthenticate)
        {
            @Html.ActionLink("Create Type", "create", new { controller = "type", action = "create" }, new { @class = "btn btn-info" });
        }
        @if (Model != null)
        {
            <hr />
            foreach (var item in Model)
            {
                <p>Name: @item.Name</p>
                <p>Description: @item.Description</p>
                <hr />
            }
        }
    </div>
}